# Google Cloud credentials
GOOGLE_APPLICATION_CREDENTIALS=credentials/bgg-sa-key.json

# BigQuery settings
GCP_PROJECT_ID=bgg-data-warehouse

# Application settings
DEBUG=True
CACHE_TIMEOUT=3600  # Cache timeout in seconds

# Server settings
PORT=8050
HOST=0.0.0.0
